@charset "UTF-8";

/* 画面幅の50%の幅で画像を表示 */
/* .image-vw {
    width : 50vw ;
  width: 60%;
} */

.wrap {
  width: 94%;
  margin: 2em auto 2em;
}
.wrap img {
    width: 60%;
}

h1 {
  text-align: center;
  font-size: 1.6em;
  line-height: 1.4;
}


@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}